---
---

<div class="Dev">
    <div class="BLO">
        <div class="cuadro">
        <img class="LO1" src="/Assets/Logos/HTML5.webp" alt="Logo" loading="lazy">
        </div>
        <h3 class="TI">HTML5</h3>
        <p class="desc">Lenguaje utilizado para crear la estructura y el contenido de páginas y aplicaciones web. </p>
        <p class="Etiqueta1">Desarrollo Web</p>
        <img class="OF1" src="../Assets/Spaceworks/HTML inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO">
        <div class="cuadro">
            <img class="LO2" src="/Assets/Logos/CSS3.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">CSS3</h3>
            <p class="desc">Lenguaje utilizado para definir los estilos de el contenido HTML en páginas y aplicaciones web.</p>
            <p class="Etiqueta2">Desarrollo Web</p>
            <img class="OF2" src="../Assets/Spaceworks/CSS inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO">
        <div class="cuadro">
            <img class="LO3" src="/Assets/Logos/JavaScript.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">JavaScript</h3>
            <p class="desc">Lenguaje que se utiliza para agregar interactividad y dinamismo a páginas y aplicaciones.</p>
            <p class="Etiqueta3">Desarrollo Web</p>
            <img class="OF3" src="../Assets/Spaceworks/Javascript inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO4" src="../Assets/Logos/FrameAstro.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Astro</h3>
            <p class="desc">Marco de trabajo que se utiliza para construir páginas y aplicaciones web veloces y eficientes.</p>
            <p class="Etiqueta4">Desarrollo Web</p>
            <img class="OF4" src="../Assets/Spaceworks/Astro inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO5" src="/Assets/Logos/Visual Studio Code.png" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Visual Studio Code</h3>
            <p class="desc">Mi editor de código favorito que utilizo para construir aplicaciones y sitios web.</p>
            <p class="Etiqueta5">Desarrollo Web</p>
            <img class="OF5" src="../Assets/Spaceworks/VSC inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO6" src="/Assets/Logos/Wordpress.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Wordpress</h3>
            <p class="desc">Sistema de gestión de contenidos que se enfoca a la creación de cualquier tipo de página web.</p>
            <p class="Etiqueta6">Desarrollo Web</p>
            <img class="OF6" src="../Assets/Spaceworks/Wordpress inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO7" src="/Assets/Logos/Drupal.png" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Drupal</h3>
            <p class="desc">Sistema de gestión de contenidos que se enfoca a la creación de cualquier tipo de página web.</p>
            <p class="Etiqueta7">Desarrollo Web</p>
            <img class="OF7" src="../Assets/Spaceworks/Drupal inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO8" src="/Assets/Logos/Elementor.svg" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Elementor</h3>
            <p class="desc">Editor visual para personalizar el diseño y contenido de sitios web en WordPress de forma intuitiva.</p>
            <p class="Etiqueta8">Desarrollo Web</p>
            <img class="OF8" src="../Assets/Spaceworks/Elementor inter.PNG" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="LO9" src="/Assets/Logos/Electron.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Electron</h3>
            <p class="desc">Plataforma para desarrollar aplicaciones de escritorio con tecnologías web como HTML, CSS y JavaScript.</p>
            <p class="Etiqueta9">Desarrollo Web</p>
            <img class="OF9" src="../Assets/Spaceworks/Electron inter.png" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L10" src="/Assets/Logos/Photoshop.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Photoshop</h3>
            <p class="desc">Software para edición de imágenes y diseño gráfico con herramientas avanzadas y opciones personalizables.</p>
            <p class="Etiqueta10">Diseño</p>
            <img class="OF10" src="../Assets/Spaceworks/Photoshop inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L11" src="/Assets/Logos/Illustrator.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Illustrator</h3>
            <p class="desc">Aplicación para diseño vectorial con herramientas avanzadas y funciones para ilustraciones precisas y escalables.</p>
            <p class="Etiqueta11">Diseño</p>
            <img class="OF11" src="../Assets/Spaceworks/Illustrator inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L12" src="/Assets/Logos/Indesign.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">InDesign</h3>
            <p class="desc">Programa para maquetación y diseño editorial con herramientas avanzadas y opciones de diseño flexibles y precisas.</p>
            <p class="Etiqueta12">Diseño</p>
            <img class="OF12" src="../Assets/Spaceworks/InDesign inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L13" src="/Assets/Logos/XD.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Adobe XD</h3>
            <p class="desc">Aplicación para diseño de experiencias de usuario con herramientas avanzadas y opciones de prototipado interactivas.</p>
            <p class="Etiqueta13">Diseño</p>
            <img class="OF13" src="../Assets/Spaceworks/Adobe XD inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L14" src="/Assets/Logos/Lightroom.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Lightroom</h3>
            <p class="desc">Software para edición y organización de fotografías con herramientas avanzadas y ajustes no destructivos.</p>
            <p class="Etiqueta14">Diseño</p>
            <img class="OF14" src="../Assets/Spaceworks/Lightroom Inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L15" src="/Assets/Logos/Premiere Pro.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Premiere Pro</h3>
            <p class="desc">Programa para edición de video profesional con herramientas avanzadas y opciones de edición y efectos sofisticados.</p>
            <p class="Etiqueta15">Edición de Video</p>
            <img class="OF15" src="../Assets/Spaceworks/Premiere Pro inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L16" src="/Assets/Logos/After Effects.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">After Effects</h3>
            <p class="desc">Software para creación de efectos visuales y gráficos en movimiento con herramientas avanzadas y personalizables.</p>
            <p class="Etiqueta16">Edición de Video</p>
            <img class="OF16" src="../Assets/Spaceworks/After Effects inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L17" src="/Assets/Logos/Media Encoder.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Media Encoder</h3>
            <p class="desc">Software para codificar y convertir archivos multimedia con opciones de configuración avanzadas y procesamiento eficiente.</p>
            <p class="Etiqueta17">Edición de Video</p>
            <img class="OF17" src="../Assets/Spaceworks/Media Encoder inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L18" src="/Assets/Logos/Audition.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Adobe Audition</h3>
            <p class="desc">Software para edición y mezcla de audio con herramientas avanzadas y opciones de procesamiento profesional.</p>
            <p class="Etiqueta18">Edición de Video</p>
            <img class="OF18" src="../Assets/Spaceworks/Audition inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L19" src="/Assets/Logos/Blender.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Blender</h3>
            <p class="desc">Aplicación para modelado, animación y renderizado 3D con herramientas avanzadas y opciones de personalización extensas.</p>
            <p class="Etiqueta19">Modelado 3D</p>
            <img class="OF19" src="../Assets/Spaceworks/Blender inter.webp" alt="Interfaz" loading="lazy">
    </div>
    <div class="BLO"> 
        <div class="cuadro">
            <img class="L20" src="/Assets/Logos/Adobe Dimension.webp" alt="Logo" loading="lazy">
            </div>
            <h3 class="TI">Adobe Dimension</h3>
            <p class="desc">Programa para diseño de escenas en 3D realistas con herramientas avanzadas y opciones de renderizado sofisticadas.</p>
            <p class="Etiqueta20">Modelado 3D</p>
            <img class="OF20" src="../Assets/Spaceworks/Dimension inter.webp" alt="Interfaz" loading="lazy">
    </div>
    
</div>

<style class="Querys">
    @media (max-width: 768px) {
        .Dev {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto;
        gap: 0.5em;
        max-width: 20em;
        margin: 0 auto;
        margin-top: 2em;
        }

    }
</style>

<style class="GG">
    @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    .Dev {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        max-width: 70em;
        margin: 0 auto;
        margin-top: 5em;
    }
    .BLO {
        border: solid 1px #434343;
        background-color: #1e1e20;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
        min-height:15em;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }
    .BLO:hover {
        border: solid 1px #405FA7;
    }
</style>
<style class="G1">
    .cuadro {
        border: solid 1px #434343;
        background-color: #1e1e20;
        border-radius: 1em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 1em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
    
    .LO1 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF1 {
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .TI {
            font-family:Arial, Helvetica, sans-serif;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: 700;
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
        }
        .desc {
            color: #6A6A6A;
            font-family: "Raleway-Regular";
            font-size: 0.9rem;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        .Etiqueta1 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
        }
</style>
<style class="G2">
.LO2 {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
}
.OF2 {
        position: relative;
        right: 30px;
        top: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    .TI {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .desc {
        color: #6A6A6A;
        font-family: "Raleway-Regular";
        font-size: 1rem;
    }
    .Etiqueta2 {
        font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
    }
</style>
<style class="G3">
.LO3 {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
}
.OF3 {
        position: relative;
        left: 30px;
        top: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    .Etiqueta3 {
        font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
    }
</style>
<style class="G4">
    
    .LO4 {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
}
.OF4 {
        position: relative;
        right: 30px;
        top: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        height: 40%;
    }
    .Etiqueta4 {
        font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
    }
</style>
<style class="G5">
    .LO5 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF5 {
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta5 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
        }
</style>
<style class="G6">
        .LO6 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF6 {
            position: relative;
            right: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            height: 40%;
        }
        .Etiqueta6 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
        }
</style>
<style class="G7">
    .LO7 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF7 {
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta7 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
        }
</style>
<style class="G8">
    .LO8 {
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
}
    .OF8 {
        position: relative;
        right: 30px;
        top: 30px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        height: 40%;
    }
    .Etiqueta8 {
        font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
    }
</style>
<style class="G9">
    .LO9 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF9 {
            position: relative;
            left: 30px;
            top: 34px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta9 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(138, 160, 212, 1);
        background-color: rgba(54, 80, 141, 0.5);
        max-width: 10em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(138, 160, 212, 1);
        }
</style>
<style class="G10">
    .L10 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF10 {
            position: relative;
            right: 15px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta10 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(255, 209, 129, 1);
        background-color: rgba(203, 144, 43, 0.5);
        border: solid 1px rgba(255, 209, 129, 1);
        max-width: 5em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        
        }
</style>
<style class="G11">
    .L11 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF11 {
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta11 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(255, 209, 129, 1);
        background-color: rgba(203, 144, 43, 0.5);
        max-width: 5em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(255, 209, 129, 1);
        }
</style>
<style class="G12">
    .L12 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF12 {
            position: relative;
            right: 15px;
            top: 32px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta12 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(255, 209, 129, 1);
        background-color: rgba(203, 144, 43, 0.5);
        max-width: 5em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(255, 209, 129, 1);
        }
</style>
<style class="G13">
    .L13 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF13{
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta13 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(255, 209, 129, 1);
        background-color: rgba(203, 144, 43, 0.5);
        max-width: 5em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(255, 209, 129, 1);
        }
</style>
<style class="G14">
    .L14 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF14 {
            position: relative;
            right: 15px;
            top: 25px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta14 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(255, 209, 129, 1);
        background-color: rgba(203, 144, 43, 0.5);
        max-width: 5em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(255, 209, 129, 1);
        }
</style>
<style class="G15">
    .L15 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF15{
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta15 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(124, 78, 161, 1);
        background-color: rgba(60, 31, 85, 0.5);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(124, 78, 161, 1);
        }
</style>
<style class="G16">
    .L16 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF16 {
            position: relative;
            right: 15px;
            top: 28px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta16 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(124, 78, 161, 1);
        background-color: rgba(60, 31, 85, 0.5);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(124, 78, 161, 1);
        }
</style>
<style class="G17">
    .L17 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF17{
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta17 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(124, 78, 161, 1);
        background-color: rgba(60, 31, 85, 0.5);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(124, 78, 161, 1);
        }
</style>
<style class="G18">
    .L18 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF18 {
            position: relative;
            right: 15px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta18 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: rgba(124, 78, 161, 1);
        background-color: rgba(60, 31, 85, 0.5);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px rgba(124, 78, 161, 1);
        }
</style>
<style class="G19">
    .L19 {
        max-width: 40px;
        max-height: 40px;
        margin: 0 auto;
    }
    .OF19{
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            max-height: 200px;
            max-width: 200px;
        }
        .Etiqueta19 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: #3ec25b;
        background-color: rgba(62,194,91,.25);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px #3ec25b;
        }
</style>
<style class="G20">
    .L20 {
        max-width: 70px;
        max-height: 70px;
        margin: 0 auto;
    }
    .OF20{
            position: relative;
            left: 30px;
            top: 30px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
        }
        .Etiqueta20 {
            font-family: "Raleway-Regular";
        font-weight: 600;
        font-size: 0.9rem;
        color: #3ec25b;
        background-color: rgba(62,194,91,.25);
        max-width: 9em;
        padding: 0.3em;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 10px;
        border: solid 1px #3ec25b;
        }
</style>