---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Titulo from '../../components/Entrys/presentacion.astro';
import Cuerpo from '../../components/Entrys/explicacion.astro';
---

<DefaultLayout>
    <meta slot="Head" http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta slot="Head" http-equiv="Content-Language" content="es">
	<meta slot="Head" http-equiv="Content-Language" content="en">
	<meta slot="Head" name="viewport" content="width=device-width, initial-scale=1">
	<meta slot="Head" name="robots" content="noodp, noydir, index, follow">
	<meta slot="Head" name="description" content="Diseño y Desarrollo Web">
	<meta slot="Head" name="keywords" content="Diseño, Diseño Gráfico, Diseño Digital, Diseño Web, Desarrollo Front-End, Desarrollo Web, Programación, Portfolio, Edición de Videos, Editor, Diseñador Freelance, Desarrollador Freelancer">
	<meta slot="Head" name="author" content="Jeremías Zamora">
	<meta slot="Head" name="copyright" content="2024, Jeremías Zamora">
	<meta slot="Head" property="og:title" content="Diseño de Vanguard Design">
	<meta slot="Head" property="og:description" content="Diseño de Identidad Visual">
	<meta slot="Head" property="og:image" content='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup logo pared 2.png'>
	<link slot="Head" rel="icon" type="image/svg+xml" href="/favicon.png">
	<meta slot="Head" name="generator" content={Astro.generator}>
	<title slot="Head">Diseño de Identidad</title>

    <Titulo pres= {{ 

        titulo: 'DISEÑO DE IDENTIDAD',
        descripcion: 'Vanguard Design es mi marca personal que creé durante mi curva de aprendizaje en el Diseño Gráfico y la asimilación de los software de edición y producción de medios, en éste post puedes ver el proceso que realicé para crear ésta marca.',
        etiqueta1: 'Identidad Visual',
        etiqueta2: '2023 - 2024',
        etiqueta3: 'Diseño Gráfico',
        imagenUrl: '/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup logo pared 2.png',
        imagenAlt: 'Isotipo',
        imagenTitulo: 'Isotipo',
        
    }} />

    <Cuerpo exp= {{ 

    eti: 'Logotipo e Isotipo',
    expli: 'El primer paso para crear ésta marca fue hacer una investigación y una definición clara de los objetivos, estilos de diseño, mensajes, tonos comunicativos, propuestas de valor y público objetivo a los que buscaría alcanzar ésta marca. Habiendo creado manualmente mis anotaciones, procedí a crear un moodboard que fuese adecuado para el estilo visual que quería desarrollar para mi marca, y en base a ello trabajé a la hora de crear mi logotipo e isotipo, cuyo diseño debía de ser minimalista, fácil de adaptar a distintos medios, y al mismo tiempo combinar la inicial de la marca con un halo envolvente.',
    
    }}/>

<img style="margin: 0 auto" src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/MoodBoard.png' alt='Moodboard' title='Moodboard' loading="lazy" />

<div class="Triples">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Isotipo negro.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo negro ver2.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo negro.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo negro.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Isotipo purpura.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo purpura ver2.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo purpura.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo purpura.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Isotipo rojo.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo rojo ver2.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo + isotipo rojo.png' alt='Logo' title='Logo' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Logotipos/Logotipo rojo.png' alt='Logo' title='Logo' loading="lazy" />
</div>
<Cuerpo exp= {{ 

    eti: 'Manual de Marca',
    expli: 'Habiendo hecho mi logotipo junto con sus variantes, y teniendo mis anotaciones sobre mensajes, propuestas de valor, público objetivo, tonos comunicativos y especificaciones técnicas sobre mi estilo de diseño, decidí crear un manual de marca donde pudiese plasmar toda la información y formalizar la identidad visual de ésta marca.',
    
    }}/>
<div class="Triples">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Presentación.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Índice.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Valores.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Misión.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Público Objetivo.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Propuesta de Valor.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Mensajes y Tonos Comunicativos.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Estilo de Diseño y Moodboard.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Estilo de Diseño y Moodboard 3.0.1.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Paleta de Colores.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Tipografías.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Logotipo.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Composición del Logotipo.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Área de Seguridad.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Tamaños y uso del Isotipo.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Tamaños Digitales e Impresos.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Variantes de Nuestra Identidad.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Variantes de Nuestra Identidad 2.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Usos Incorrectos de Nuestra Identidad.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Ap 1.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Ap 2.png' alt='Manual' title='Manual' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Ap 3.png' alt='Manual' title='Manual' loading="lazy" />
</div>
<img style="margin: 0 auto; width: 50em; border: solid 1px #434343; border-radius: 15px;" src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Manual de marca/Mockup de manual 2.png' alt='Manual' title='Manual' loading="lazy" />

<Cuerpo exp= {{ 

    eti: 'Papelería y Mockups',
    expli: 'El último paso en el desarrollo de ésta identidad fue el diseño de la papelería institucional para hoja A4, portada de hoja A4, sobres, y tarjetas de presentación, además de la presentación formal y profesional de la marca a través del uso de Mockups para diseños realistas.',
    
    }}/>

<img style="margin: 0 auto; width: 50em; border: solid 1px #434343; border-radius: 15px;" src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Papelería Púrpura y Negra.jpg' alt='Manual' title='Manual' loading="lazy" />
<div class="Triples">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Etiqueta Celular.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup isotipo portada.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup isotipo portada 2.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup isotipo sello.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup isotipo señal.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup logo pared 2.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup logo señal.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Papel y Portada.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup papelería 1.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup papelería 3.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup papelería 5.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup papelería 6.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup papelería 7.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Tarjeta 4.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Tarjetas 2.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Tarjetas 3.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup tarjetas 4.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup tarjetas 5.png' alt='Mockup' title='Mockup' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Diseño de Identidad/Mockups/Mockup Tarjetas negras.png' alt='Mockup' title='Mockup' loading="lazy" />
</div>

    <div class="C">
        <a href="/DiseñoGrafico" title="Proyectos">Volver Atrás</a>
    </div>
    
    <style>
    @font-face {
    font-family: Raleway-Regular;
    src: url('/Assets/Raleway-Regular.ttf');
}
    .C {
                display: flex;
                justify-content: center;
                margin-top: 5em;
                gap: 1.5em;
    }
    a {
                font-family: Raleway-Regular;
                color: white;
                padding: 0.8em;
                background-color: #1e1e20;
                border: solid 1px #434343;
                border-radius: 15px;
                box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
                transition: all 0.3s ease-in-out;
    }
    a:hover {
                border: solid 1px #405FA7;
                transform: scale(95%);
    }
    .Triples img {
    margin: 0 auto;
    border: solid 1px #434343;
    border-radius: 15px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
    }   
    .Triples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
        </style>
</DefaultLayout>