---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Titulo from '../../components/Entrys/presentacion.astro';
import Cuerpo from '../../components/Entrys/explicacion.astro';
---

<DefaultLayout>
    <meta slot="Head" http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta slot="Head" http-equiv="Content-Language" content="es">
	<meta slot="Head" http-equiv="Content-Language" content="en">
	<meta slot="Head" name="viewport" content="width=device-width, initial-scale=1">
	<meta slot="Head" name="robots" content="noodp, noydir, index, follow">
	<meta slot="Head" name="description" content="Diseño y Desarrollo Web">
	<meta slot="Head" name="keywords" content="Diseño, Diseño Gráfico, Diseño Digital, Diseño Web, Desarrollo Front-End, Desarrollo Web, Programación, Portfolio, Edición de Videos, Editor, Diseñador Freelance, Desarrollador Freelancer">
	<meta slot="Head" name="author" content="Jeremías Zamora">
	<meta slot="Head" name="copyright" content="2024, Jeremías Zamora">
	<meta slot="Head" property="og:title" content="Social Media Posting">
	<meta slot="Head" property="og:description" content="Diseño para Redes Sociales">
	<meta slot="Head" property="og:image" content='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard facebook pc 1.png'>
	<link slot="Head" rel="icon" type="image/svg+xml" href="/favicon.png">
	<meta slot="Head" name="generator" content={Astro.generator}>
	<title slot="Head">Posteos para Redes</title>

    <Titulo pres= {{ 

        titulo: 'DISEÑO DE REDES SOCIALES',
        descripcion: 'Éstas son algunas muestras seleccionadas de mis trabajos en el diseño de posteos y carruseles para redes sociales.',
        etiqueta1: 'Redes Sociales',
        etiqueta2: '2023 - 2024',
        etiqueta3: 'Trabajos Varios',
        imagenUrl: '/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard facebook pc 1.png',
        imagenAlt: 'Ejemplo Vanguard',
        imagenTitulo: 'Ejemplo Vanguard',
        
    }} />

    <Cuerpo exp= {{ 

    eti: 'Vanguard Design',
    expli: 'Mi primer caso es mi marca personal, creada mientras cursaba mis estudios para poner en práctica los conocimientos adquiridos. Todos los diseños para redes sociales que he realizado están orientados a publicaciones tanto en Facebook como en Instagram. Por ello, las demostraciones que se pueden ver están perfectamente adaptadas para ser visualizadas en estas plataformas, ya sea mediante dispositivos móviles o en ordenadores de escritorio.',
    
    }}/>
    <div class="Presentacion">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard instagram 1.png' alt='Instagram' title='Instagram' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard facebook 1.png' alt='Facebook' title='Facebook' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard facebook pc 1.png' alt='Facebook' title='Facebook' loading="lazy" />
    </div>
    <div class="Originales">
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 1 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 2 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 3 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 4 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 5 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Vanguard Original/Panel 6 V.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    </div>
    <Cuerpo exp= {{ 

        eti: 'La Morena GYM',
        expli: 'En éste segundo caso presento los paneles para redes sociales que hice para el gimnasio "La Morena", donde el enfoque fue compartir información relevante con imágenes de alta calidad para cautivar la atención del público y generar mayor interés en la institución y sus actividades.',
        
        }}/>
    <div class="Presentacion">
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/GYM instagram 1.png' alt='Instagram' title='Instagram' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/GYM facebook 1.png' alt='Facebook' title='Facebook' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/GYM facebook pc 1.png' alt='Facebook' title='Facebook' loading="lazy" />
        </div>
    <div class="Originales">
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Gimnasio original/Panel 1 GYM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Gimnasio original/Panel 2 GYM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Gimnasio original/Panel 3 GYM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Gimnasio original/Panel 4 GYM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
        <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Gimnasio original/Panel 5 GYM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    </div>

    <Cuerpo exp= {{ 

        eti: 'Almohaditas Mágicas',
        expli: 'En éste último caso presento los paneles de redes sociales que he realizado para el emprendimiento de Almohaditas Mágicas, utilizando ilustraciones personalizadas a pedido y haciendo enfoque en la difusión de información relevante para la generación de audiencia orgánica.',
        
        }}/>

<div class="Presentacion">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM instagram 1.png' alt='Instagram' title='Instagram' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM facebook 1.png' alt='Facebook' title='Facebook' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM facebook pc 1.png' alt='Facebook' title='Facebook' loading="lazy" />
    </div>
<div class="Originales">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 2/Panel 1 AM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 2/Panel 2 AM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 2/Panel 3 AM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 2/Panel 4 AM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 2/Panel 5 AM.png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
</div>
<div class="Presentacion">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM instagram 2.png' alt='Instagram' title='Instagram' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM facebook 2.png' alt='Facebook' title='Facebook' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/AM facebook pc 2.png' alt='Facebook' title='Facebook' loading="lazy" />
    </div>
<div class="Originales">
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 1/Panel 1 AM (2).png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 1/Panel 2 AM (2).png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 1/Panel 3 AM (2).png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
    <img src='/Assets/Proyectos para Portfolio/Diseño Gráfico/Redes Sociales/Almohaditas original/Redes 1/Panel 4 AM (2).png' alt='Redes Sociales' title='Redes Sociales' loading="lazy" />
</div>

    <div class="C">
        <a href="/DiseñoGrafico" title="Proyectos">Volver Atrás</a>
    </div>
    
    <style>
    @font-face {
    font-family: Raleway-Regular;
    src: url('/Assets/Raleway-Regular.ttf');
}
    .C {
                display: flex;
                justify-content: center;
                margin-top: 5em;
                gap: 1.5em;
    }
    a {
                font-family: Raleway-Regular;
                color: white;
                padding: 0.8em;
                background-color: #1e1e20;
                border: solid 1px #434343;
                border-radius: 15px;
                box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
                transition: all 0.3s ease-in-out;
    }
    a:hover {
                border: solid 1px #405FA7;
                transform: scale(95%);
    }
    .Presentacion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
    max-width: 50em;
    margin: 0 auto;
}
    img {
    margin: 0 auto;
    border: solid 1px #434343;
    border-radius: 15px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
    }   
    .Originales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 50em;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
        </style>
</DefaultLayout>