---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Bloques from "../components/Error/bloques5.astro"
---

<DefaultLayout>
    <meta slot="Head" http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta slot="Head" http-equiv="Content-Language" content="es">
	<meta slot="Head" http-equiv="Content-Language" content="en">
	<meta slot="Head" name="viewport" content="width=device-width, initial-scale=1">
	<meta slot="Head" name="robots" content="noodp, noydir">
	<meta slot="Head" name="description" content="La página que buscas no se ha encontrado. Por favor, verifica la URL e inténtalo de nuevo.">
	<meta slot="Head" name="keywords" content="Diseño, Diseño Gráfico, Diseño Digital, Diseño Web, Desarrollo Front-End, Desarrollo Web, Programación, Portfolio, Edición de Videos, Editor, Diseñador Freelance, Desarrollador Freelancer">
	<meta slot="Head" name="author" content="Jeremías Zamora">
	<meta slot="Head" name="copyright" content="2024, Jeremías Zamora">
	<meta slot="Head" property="og:title" content="Página 404">
	<meta slot="Head" property="og:description" content="La página que buscas no se ha encontrado. Por favor, verifica la URL e inténtalo de nuevo.">
	<meta slot="Head" property="og:image" content="URL de la imagen">
	<link slot="Head" rel="icon" type="image/svg+xml" href="/favicon.png">
	<meta slot="Head" name="generator" content={Astro.generator}>
	<title slot="Head"> Error 404 | Página no encontrada.</title>


    <Bloques />

</DefaultLayout>