---

---

    <div class="bento-grid">
    <div class="bento-item bento-item1">
    <h3 class="Tit"> Sobre Mí </h3>

<p class="Subt"> 
Hola, soy Jeremías, diseñador y desarrollador autodidacta, trabajando de manera remota desde Argentina y 
buscando nuevas oportunidades dentro del mundo digital para desarrollar aún más mis habilidades y adquirir nuevas experiencias y conocimientos.
 </p>
 
<a href="https://api.whatsapp.com/send?phone=+5493413036196&text=Hola%20Jerem%C3%ADas,%20vengo%20de%20tu%20sitio%20web%20y%20quiero%20ponerme%20en%20contacto%20contigo." class="button" target="_blank" title="WhatsApp">
  <img src="/Assets/WhatsApp.webp" alt="WhatsApp" loading="lazy">
</a>

<a href="https://www.linkedin.com/in/jeremiaszamora/" class="button" target="_blank" title="LinkedIn">
  <img src="/Assets/Linkedin.webp" alt="LinkedIn" loading="lazy">
</a>

<a href="https://www.youtube.com/channel/UCR2u9wgvZZv7tPFGpKmODuA" class="button" target="_blank" title="Youtube">
  <img src="/Assets/YouTube.webp" alt="Youtube" loading="lazy">
</a>

<a href="https://discord.com/users/764651429780127745" class="button" target="_blank" title="Discord">
  <img src="/Assets/Discord.webp" alt="Discord" loading="lazy">
</a>

<a href="https://www.facebook.com/InGodWeTrustOk/" class="button" target="_blank" title="Facebook">
  <img src="/Assets/Facebook.webp" alt="Facebook" loading="lazy">
</a>
        </div>

        <div class="bento-item bento-item2">
          <div>
            <a href="/Tech" style="display: block; text-decoration: none; color: inherit;" target="_blank" title="Redirect">
            <h3 id="App"> Mis Herramientas </h3>
            <p class="Flecha">→</p>
            <p id="AppSub"> Descubre cuáles son mis conocimientos y habilidades.</p>
        </a>
          </div>
        </div>
      </div>
      
<style class="1Query">
  @media (max-width: 1025px) {
		.bento-grid {
       display: grid;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       margin-top: 2em;
       grid-template-columns: 1fr 1fr;
       grid-gap: 15px;
}

.bento-item1 {
  max-width: 21em;
  height: 17em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 15px;
}

.bento-item2 {
    width: 21em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.Tit {
    font-size: 0.9rem;
    margin-top: 0em;
    margin-bottom: 0.2em;
    padding-left:0px;
}
.Subt {
    font-size: 0.8rem;
    max-width: 18rem;
    padding-left:0px;
    padding-bottom: 0px;
}
.button {
  padding: 9px 9px;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: 3em;
  margin-left: 0px;
  margin-right: 10px;
}

.button img {
  display: block;
  margin: 0 auto;
  max-width: 20px;
  max-height: 20px;
}
	}
    @media (max-width: 881px) {
    .bento-grid {
       display: grid;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       margin-top: 2em;
       grid-template-columns: 1fr 1fr;
       grid-gap: 15px;
}

.bento-item1 {
  max-width: 21em;
  height: 17em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 15px;
}

.bento-item2 {
    width: 21em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.Tit {
    font-size: 0.9rem;
    margin-top: 0em;
    margin-bottom: 0.2em;
    padding-left:0px;
}
.Subt {
    font-size: 0.8rem;
    max-width: 18rem;
    padding-left:0px;
    padding-bottom: 0px;
}
.button {
  padding: 9px 9px;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: 3em;
  margin-left: 0px;
  margin-right: 10px;
}

.button img {
  display: block;
  margin: 0 auto;
  max-width: 20px;
  max-height: 20px;
}
  
}
  @media (max-width: 768px) {
    .bento-grid {
       display: grid;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       margin-top: 2em;
       grid-template-columns: 1fr;
       grid-gap: 0px;
}

.bento-item1 {
  max-width: 21em;
  height: 17em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 15px;
}

.bento-item2 {
    width: 21em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.Tit {
    font-size: 0.9rem;
    margin-top: 0em;
    margin-bottom: 0.2em;
    padding-left:0px;
}
.Subt {
    font-size: 0.8rem;
    max-width: 18rem;
    padding-left:0px;
    padding-bottom: 0px;
}
.button {
  padding: 9px 9px;
  max-width: 2.5rem;
  max-height: 2.5rem;
  margin-top: 3em;
  margin-left: 0px;
  margin-right: 10px;
}

.button img {
  display: block;
  margin: 0 auto;
  max-width: 20px;
  max-height: 20px;
}
  
}
</style>


      <style class="Grid">
        @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
.bento-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 30em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.bento-item {
  padding: 20px;
  text-align: center;
  background-color: #1E1E20;
  border: 1px solid #434343;
  border-radius: 15px;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  margin-top: 60px;
  transition: all 0.5s ease-in-out;
}

.bento-item:hover {
  border: solid 1px #405FA7;
}

.bento-item1 {
  width: 40em;
  height: 17em;
  text-align: left;
}

.bento-item2 {
    width: 25em;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
}


      </style>
      <style class="TxtGrid1">

        .Tit {
            font-family: Raleway;
            text-align: left;
            font-size: 0.9rem;
            margin-top: 0.7rem;
            margin-bottom: 10px;
            padding-left:13px;
            color: #6A6A6A;
        }
        
        .Subt {
            font-family: Raleway;
            text-align: left;
            font-size: 0.9rem;
            width: 32rem;
            color: white;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
            padding-left:13px;
            padding-bottom: 25px;
        }
        
        .button {
  display: inline-block;
  flex-direction: row;
  border: solid 1px;
  border-radius: 10px;
  border-color: #405FA7;
  padding: 12px 10px;
  background-color: #252529;
  width: 3.5rem;
  height: 3.4rem;
  margin-left: 0;
  transition: 0.3s ease-in-out;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.button img {
  display: block;
  margin: auto;
  width: 27px;
  height: 27px;
}

.button:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-color: #405FA7;
  transform: translateY(0.95px);
  transition-delay: 0.1s;
}
        </style>
        <style class="TxtGrid2">
.bento-item.bento-item2 a {
  display: block;
  height: 100%;
  position: relative;
  text-align: center;
}

#App {
  font-family: Raleway;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#AppSub {
  font-family: Raleway;
  font-size: 1rem;
  color: #6A6A6A;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 0;
  width: 70%;
}
.Flecha {
  position: absolute;
  transform: rotate(-40deg);
  color: white;
  font-size: 25px;
  font-family: Calibri;
  font-weight: 200;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease; 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: none;
}

.bento-item.bento-item2:hover .Flecha {
  animation-name: desplazamiento;
  animation-fill-mode: forwards;
  color: #405FA7;
}

.bento-item.bento-item2:not(:hover) .Flecha {
  animation-name: retorno;
  animation-fill-mode: forwards;
}

@keyframes retorno {
  0% {
    top: -5px;
    right: 40px;
  }
  100% {
    top: 0;
    right: 50px;
  }
}

@keyframes desplazamiento {
  0% {
    top: 0;
    right: 50px;
  }
  100% {
    top: -5px;
    right: 40px;
  }
}

        </style>