---

---

<div class="bento-grid">
    <h2 class="Fund">Fundamentos de Trabajo</h2>

<div class="Container">
    <div class="Text1">
        <h3>Calidad</h3>
        <p>Trabajo con el objetivo de lograr la excelencia en cada uno de mis proyectos.</p>
    </div>

    <div class="Venn">
        <img class="Venn1" src="../Assets/Diagrama.svg" alt="VennDiagram" loading="lazy">
        <img class="Venn2" src="../Assets/Diagrama.svg" alt="VennDiagram" loading="lazy">
    </div>

    <div class="Text2">
        <h3>Flexibilidad</h3>
        <p>Me mantengo en constante formación para poder adaptarme a las necesidades de cada proyecto y sortear los desafíos que se me presentan.</p>
    </div>
</div>

<div class="Text3">
    <h3>Dedicación</h3>
    <p>Me apasiona lo que hago, por eso me empeño en cada proyecto para lograr mis objetivos.</p>
</div>
    
</div>

<style class="3Query">
    @media (max-width: 1025px) {
        .bento-grid {
  max-width: 43em;
  min-height: 20em;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}

.Fund {
 font-size: 2rem;
 padding-bottom: 50px;
    }
    
.Text1 h3 {
 width: 250px;
 margin-top: -118px;
 z-index: 10;
 margin-left: -23%;
}
    
.Text1 p {
 width: 170px;
 z-index: 10;
 margin-left: 10%;
}
    
.Text3 h3 {
 width: 250px;
 padding-left: 0px;
 margin-top: -40px;
 z-index: 10;
 margin-left: auto;
 margin-left: -1%;
}
    
.Text3 p {
 width: 250px;
 text-align: right;
 z-index: 10;
 margin-left: auto;
 margin-right: 63%;
}
    
.Text2 h3 {
 width: 250px;
 text-align: left;
 z-index: 10;
 margin-left: 25%;
}
    
.Text2 p {
 width: 180px;
 text-align: left;
 z-index: 10;
 margin-left: 25%;
}
	}
    @media (max-width: 881px) {
.bento-grid {
  max-width: 43em;
  min-height: 20em;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}

.Fund {
 font-size: 2rem;
 padding-bottom: 50px;
    }
    
.Text1 h3 {
 width: 250px;
 margin-top: -118px;
 z-index: 10;
 margin-left: -23%;
}
    
.Text1 p {
 width: 170px;
 z-index: 10;
 margin-left: 10%;
}
    
.Text3 h3 {
 width: 250px;
 padding-left: 0px;
 margin-top: -40px;
 z-index: 10;
 margin-left: auto;
 margin-left: -1%;
}
    
.Text3 p {
 width: 250px;
 text-align: right;
 z-index: 10;
 margin-left: auto;
 margin-right: 63%;
}
    
.Text2 h3 {
 width: 250px;
 text-align: left;
 z-index: 10;
 margin-left: 25%;
}
    
.Text2 p {
 width: 180px;
 text-align: left;
 z-index: 10;
 margin-left: 25%;
}
}
    @media (max-width: 768px) {
    .bento-grid {
  display: none;
  max-width: 21em;
  min-height: 20em;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}
}
</style>


<style class="Grid">
    .bento-grid {
  max-width: 66.5em;
  min-height: 20em;
  background-color: #1E1E20;
  border: 1px solid #434343;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}
.bento-grid:hover {
  border: solid 1px #405FA7;
}
</style>
<style class="Text">
    @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    .Fund {
        font-family: Raleway;
        font-size: 2rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        text-align: center;
        color: white;
        padding-bottom: 50px;
    }
    
    .Container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Text1 h3 {
        font-family: Raleway;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        color: white;
        width: 250px;
        margin-top: -118px;
        text-align: right;
        z-index: 10;
        margin-left: 30%;
    }
    
    .Text1 p {
        font-family: Raleway;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        color: white;
        width: 250px;
        text-align: right;
        z-index: 10;
        margin-left: 30%;
    }
    
    .Text3 h3 {
                font-family: Raleway;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        color: white;
        width: 250px;
        padding-left: 0px;
        text-align: right;
        margin-top: -50px;
        z-index: 10;
        margin-left: auto;
        margin-right: 63%;
    }
    
    .Text3 p {
        font-family: Raleway;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        color: white;
        width: 300px;
        text-align: right;
        z-index: 10;
        margin-left: auto;
        margin-right: 63%;
    }
    
    .Text2 h3 {
                font-family: Raleway;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        color: white;
        width: 250px;
        text-align: left;
        z-index: 10;
        margin-left: -30%;
    }
    
    .Text2 p {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        font-family: Raleway;
        color: white;
        width: 250px;
        text-align: left;
        z-index: 10;
        margin-left: -30%;
    }
    

    .Venn {
    position: relative;
    z-index: 2;
    margin-right: -50px;
    margin-left: -50px;
}

.Venn2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

    
.bento-grid:hover .Venn2 {
        filter:blur(150px);
}

.bento-grid:not(:hover) .Venn2 {
    filter:blur(100px);
}
</style>