---

---

<p>Diseño Web</p>

<style>
  @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
		@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Raleway-Regular;
      font-size: 1em;
      color: rgba(124, 78, 161, 1);
      background-color: rgba(60, 31, 85, 0.5);
      border: solid 1px rgba(124, 78, 161, 1);
      padding-right: 1em;
      padding-left: 1em;
      border-radius: 15px;
    }
</style>