---

---

<p>Diseño Gráfico</p>

<style>
  @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
		@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    p {
        display: flex;
        justify-content: center;
        align-items: center;
      font-family: Raleway-Regular;
      color: rgba(255, 209, 129, 1);
      background-color: rgba(203, 144, 43, 0.5);
      border: solid 1px rgba(255, 209, 129, 1);
      border-radius: 15px;
      padding-right: 1em;
      padding-left: 1em;
      
    }
</style>