---

---

<p>Desarrollo Web</p>

<style>
  @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
		@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Raleway-Regular;
      color: rgba(138, 160, 212, 1);
      background-color: rgba(54, 80, 141, 0.5);
      border: solid 1px rgba(138, 160, 212, 1);
      padding-right: 1em;
      padding-left: 1em;
      border-radius: 15px;
    }
</style>