---

---

<p>Arte e Ilustración</p>

<style>
  @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
		@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    p {
      display: flex;
        justify-content: center;
        align-items: center;
      font-family: Raleway-Regular;
      color: rgba(240, 255, 101, 0.726);
      background-color: rgba(169, 172, 30, 0.5);
      border: solid 1px rgb(240, 255, 101);
      border-radius: 15px;
      padding-right: 1em;
      padding-left: 1em;
    }
</style>