---

---

<p>Branding</p>

<style>
  @font-face {
        font-family: 'Raleway-ExtraBold' ;
        src: url('../Assets/Raleway-ExtraBold.ttf');}
		@font-face {
        font-family: "Raleway-Regular";
        src: url('../Assets/Raleway-Regular.ttf');}
    p {
      display: flex;
        justify-content: center;
        align-items: center;
      font-family: Raleway-Regular;
      color: rgba(255, 101, 163, 0.726);
      background-color: rgba(211, 63, 132, 0.5);
      border: solid 1px rgb(255, 101, 163);
      border-radius: 15px;
      padding-right: 2em;
      padding-left: 2em;
    }
</style>